.pagination {
    list-style-type: none;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 2rem;
}
.page{
    font-size: 20px;
    padding: 0 8px;
    border: none;
    cursor: pointer;
    font-weight: 500;
}
.previous, .next{
    font-size: 20px;
    padding: 0 8px;
    border: none;
    cursor: pointer;
    font-weight: 500;
}
.previous{
    margin-right: 1rem;
}
.next{
    margin-left: 1rem;
}
.active{
    background-color: #000000;
    border-radius: 50%;
    color: #fff;
}
.disabled{
    color: #000000;
    opacity: 0.5;
    cursor: not-allowed;
}